In [ ]:

def maxtwo(a,b):
  if a>b:
    return a 
  return b
def maxthree(a,b,c):
    return maxtwo(a,maxtwo(b,c))
print(maxthree(20,35,19))

35

In [ ]:
Tuple1=(40,10)
Tuple2=(10,20)
result=list(map(lambda x,y : x+y, Tuple1,Tuple2))
print(result)

[50, 30]

In [ ]:

def operation(x,y,z):
      print((x+y)+z)
operation(5,3,2)

10

In [ ]:
def operation(x,y,z):
      print((x+y)*z)
operation(5,3,2)

16

In [ ]:
my_list=[2,3,6]
result=1
for i in my_list:
  result= result + i 
  print(result)

3
6
12

In [ ]:
def sum(x,y):
  return x+y 
x=int(input("Enter No.1 =  ")) 
y=int(input("Enter No.2 =  "))
z=sum(x,y)
print("sum of",x, "and ",y, "is",z)

Enter No.1 =  80
Enter No.2 =  90
sum of 80 and  90 is 170

In [ ]:
def sum(x,y):
  return x*y
x=int(input("Enter No.1 =  ")) 
y=int(input("Enter No.2 =  "))
z= x * y
print("Multiplication of",x, "and ",y, "is",z)

Enter No.1 =  5
Enter No.2 =  6
Multiplication of 5 and  6 is 30

In [ ]:
Words= input(("Enter a hyphen separated sequence of words: ")).split('-')
List=[i for i in Words ]
List.sort()
print('-'.join(List))

Enter a hyphen separated sequence of words: green-red-yellow-black-white
black-green-red-white-yellow