In [ ]:
my_list=[2,3,6]
result=1
for i in my_list:
  result= result * i 
  print(result)

2
6
36

In [ ]:
def last(n):
  return n[-1]
def sort (a):
  return sorted (a, key=last)

a= [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
print("sorted:")
print(sort(a))

sorted:
[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [ ]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
for key in d1:
  if key in d2:
    d2[key]=d1[key]+d2[key]
  else:
    d2[key]=d1[key]
print(d2)

{'a': 400, 'b': 400, 'd': 400, 'c': 300}

In [ ]:
my_list= [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
sorted(my_list,key=lambda x:float(x[1]),reverse=True)

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [ ]:
my_dict = {}
for i in range(1,9):
  my_dict [i] = i*i  
  print(my_dict)

{1: 1}
{1: 1, 2: 4}
{1: 1, 2: 4, 3: 9}
{1: 1, 2: 4, 3: 9, 4: 16}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [ ]:
liste = [1,2,3]
Length = 0 
for i in liste :
  Length +=1
print(Length)

3

In [ ]:
liste = [1,2,3]
print(len(liste))

3

In [ ]:
def function_name():
     print("Hello World, this is my first function")
function_name()

Hello World, this is my first function

In [ ]:
def my_function(parameter):
    print("I want to learn "+parameter)
my_function("to code!")

I want to learn to code!

In [ ]:
my_function("to do AI!")

I want to learn to do AI!

In [ ]:
def length(liste):
  s =0 
  for i in liste:
    s+=1 
  return(s)
a = [1,2,3,4]
print(length(a))

4

In [ ]:
b = [1,2]
print(length(b))

2

In [ ]:
def operation(x,y,z):
      print((x+y)*z)
operation(5,3,2) 
operation(5,2,3)

16
21

In [ ]:
def my_function(country="Tunisia"):
    print("I am from "+country)
my_function("Maroc")
my_function("Algeria")
my_function()

I am from Maroc
I am from Algeria
I am from Tunisia

In [ ]:
sum = lambda a,b,c : a+b+c
print(sum(2,6,3))

11

In [ ]:
year = lambda ch : ch[:4]
ch = "20200310"
print(year(ch))

2020

In [ ]:
Tuple1=(1,2,3)
Tuple2=(3,2,1)
result=list(map(lambda x,y : x+y, Tuple1,Tuple2))
print(result)

[4, 4, 4]

In [ ]:
def myfunc(a,b):
  return a+b  
result= list(map(myfunc,(1,2,3),(3,2,5)))    
result

[4, 4, 8]